[user]
        name = wtnbass
        email = wtnbass@icloud.com
[core]
        editor = emacs -q -nw
[color]
        ui = true
[merge]
        tool = vimdiff
        ff = false
[rebase]
        autosquash = true
[pull]
        ff = only
[alias]
        lg = "log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --branches"
        amend = "commit --amend --"
        unstage = "reset HEAD -- "

[filter "lfs"]
        clean = git-lfs clean -- %f
        smudge = git-lfs smudge -- %f
        process = git-lfs filter-process
        required = true
